/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #add8e6;
    width: 100%;
    height: 100px;
}

.flex{
    display: flex;
    justify-content: center;

}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 50px;
    background-color: #daa520;
    flex-basis: 20%;
    border: 2px solid black;
}
.login {
    height: 50px;
    background-color: #daa520;
    flex-basis: 20%;
}
footer{
    background-color: #202124;
    width: 100%;
    height: 100px;
}
.descriptionbox{
    height: 400px;
    background-color: #ee82ee;
    flex-basis: 50%;
    border: 2px solid black;
    margin: 50px;
}
main{
    background-color: #00008b;
}

.blue-column{
    height: 400px;
    flex-basis: 66%;
    background-color: #1e90ff;
    border: 2px solid black;
      margin: 50px 0px;
}

.pink-column{
    height: 400px;
    flex-basis: 34%;
    background-color: #ffc0cb;
    border: 2px solid black;
    margin: 50px 0px;
}
.bgc{
    background-color: #d3d3d3;
}
.last-descriptionbox{
    background-color: green;
    height: 700px;
    flex-basis: 100%;
    border: 2px solid black;
    margin: 50px 0;

}